.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar-element,
.sidebar-accardion-title {
  display: block;
  text-decoration: none;
  color: black;
  padding: 15px;
  cursor: pointer;
}

.sidebar-accardion {
  max-height: 0;
  transition: max-height 1s;
  /*border: 1px solid black;*/
  overflow: auto;
}
.sidebar-accardion.opened {
  max-height: 300px;
}

.sidebar-accardion .sidebar-element {
  padding-left: 30px;
}

.sidebar-element.selected {
  background-color: rgba(255,255,255,.4);
}